.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: auto;
    width: 90%;
}

h1{
    text-align: center;
}

.productsCard{
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 0.8rem;
    text-align: center;
}